.popup__error-message {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    display: none;
}

.popup__error-message_wrong {
    display: flex;
}