@import url(./__illustration/author__illustration.css);
@import url(./__info/author__info.css);
@import url(./__title/author__title.css);
@import url(./__text/author__text.css);
@import url(./__paragraph/author__paragraph.css);

.author {
    display: flex;
    padding: 80px 104px;
    position: relative;
    background: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .author {
        padding: 40px 40px;
    }
}

@media screen and (max-width: 531px) {
    .author {
        flex-direction: column;
    }
}
