.news-card__trash-around {
    position: absolute;
    border-radius: 10px;
    background-color: white;
    width: 40px;
    height: 40px;
    top: 24px;
    right: 24px;
}

@media screen and (max-width: 1024px) {
    .news-card__trash-around {
        top: 16px;
        right: 16px;
    }
}

@media screen and (max-width: 768px) {
    .news-card__trash-around {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width: 425px) {
    .news-card__trash-around {
        top: 16px;
        right: 16px;
    }
}