.news-card__mark-icon {
    background: url(../../../images/mark-normal.svg) center no-repeat;
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
    transition: transform .3s linear;
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 1;
}

.news-card__mark-icon:hover {
    background-image: url(../../../images/mark_hover.svg);
    transition: linear 0.4s;
}

.news-card__mark-icon_marked {
    background-image: url(../../../images/mark-marked.svg);
  }



@media screen and (max-width: 1024px) {
    .news-card__mark-icon {
        top: 16px;
        right: 16px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 768px) {
    .news-card__mark-icon {
        width: 25px;
        height: 25px;
        top: 8px;
        right: 8px;
    }
}

@media screen and (max-width: 425px) {
    .news-card__mark-icon {
        top: 16px;
        right: 16px;
    }
}
